<!-- Mostra la wish list dell'utente che gli passo dal profilo -->
<h3> My Favourite List </h3>        <!-- , sono nel mio profilo -->

<% @favourites.each do |relation| %>
    <% book = Ad.find(relation.ad_id) %>
    <% owner = User.find(book.user_id).username %>
    <%= image_tag(book.link_to_coverbook) %>
    <br>
    <h7> Owner of the ad: </h7><%= link_to "#{owner}", profile_path(:id => current_user.id)%>
    <br>
    <h7> Title: </h7><%= book.book_title %>
    <br>
    <h7> Authors: </h7><%= book.book_authors.tr('[', '').tr(']','').tr('"', '') %>
    <br>
    <h7> Publisher: </h7><%= book.publisher %>
    <br>
    <h7> Identifier: </h7><%= book.identifier.tr('[', '').tr(']','').tr('"', '').tr(',','') %>
    <br>
    <%= link_to "Delete",favourite_path(:id => relation.id) , :method => :delete %>
    <br><br>
<% end %>
