<div class="admin-panel center">


    <div class="col-md-12 list-group">
    <h4 class="list-group-item list-group-item-action active">
        All users
    </h4>
    <input type="text" id="users_searchbar" placeholder="Search for names..">
    <ul class="list-group admin_users_list" id = "admin_users_list">
        <% User.all.order('username').each do |user| %>
            <% if user.role != "superadmin" %>
                <% if user.id != current_user.id %>
                    <li class="list-group-item list-group-item-action">
                    <%= link_to "#{user.username}".capitalize, profile_path(user.id) %>
                        <% if can? :manage_user, user %>
                            <br>
                            Role: <%= user.role.capitalize%><br>
                            <%= link_to "Admin user", admin_user_path(user.id), :method => 'post', class:"btn btn-warning"%>
                            <%= link_to "Booklover user", booklover_user_path(user.id), :method => 'post',class:"btn btn-success"%>
                            <%= link_to "Bann user", banned_user_path(user.id), :method => 'post',class:"btn btn-danger"%>
                            <%= link_to "Delete user", admin_destroy_user_path(user.id), :method => 'delete',class:"btn btn-danger"%>
                        <% end %>
                    <br><br>
                    </li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
    </div>
    
</div>
