<!-- IMPORTANTE per far funzionare i channels -->
<meta name='userid' content="<%=current_user.id%>">
<!-- ######################################## -->

<%if @user.id == current_user.id %>
    <%= render partial: "chat", locals: {user:@user, chats:@chats} %>
<%end%>

<div class="col-md-8 left_panel">

    <div class="col-md-4 picture_box">
        <%= image_tag(@user.image.url, alt: 'Image',class: 'user_img') %>
    </div>



    <div class="col-md-4 info_box">
            <br><br>
            Name: <small class="text-success"><%= @user.name %><br></small>
            Surname: <small class="text-success"><%= @user.surname %><br></small>
            Username: <small class="text-success"><%= @user.username %><br></small>
            Email: <small class="text-success"><%= @user.email %><br></small>
            <% if @user.id == current_user.id %>
                Cap: <small class="text-success"><%= @user.cap %><br></small>
                Radius: <small class="text-success"><%= @user.radius %><br></small>
            <% end %>
            
            <%if @user.id == current_user.id %>
                <%= button_to "Edit profile", edit_user_registration_path, :method => 'get', class: "btn-sm btn-warning"%>
            <% end %>
  
    </div>

    <div class="col-md-4 map_box">
        <%= image_tag(@uri,class:"map_img") %>
    </div>


    <div class="col-md-4 actions">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                MY LIBRARY
            </p>
            <%if @user.id == current_user.id %>
                <%= link_to "Favourite list", favourite_list_path(:list_type => 0, :id => @user.id), class:"list-group-item list-group-item-action" %>
            <% end %> <!--non voglio mostrare i favoriti e la modifica del profilo delgi altri utenti -->
            <%= link_to "Wish list", wish_list_path(:list_type => 1, :id => @user.id),class:"list-group-item list-group-item-action"%>
            <%= link_to "Gift list", gift_list_path(:list_type => 2, :id => @user.id),class:"list-group-item list-group-item-action"%>

        </div>
    </div>

    <div class="col-md-8 search_div">
    <%if @user.id == current_user.id %>
            <%= form_tag(books_results_path, :method => "get", id: "search-form", class: "form-group") do %>
            <%= text_field :search, params[:search], placeholder: "Search Books" %>
            <%= submit_tag "Search" ,class:"btn-sm btn-secondary my-2 my-sm-0" %>
            <% end %>
    <%end%>
    </div>

</div>


<div class="col-md-4 right_panel">
    <%if @user.id == current_user.id %>
        <%= render partial: "chats_index", locals: { chats: @chats } %>
    <%end%>
</div>



