<meta name=userid content=<%= @user.id%> >



<div class="col-12 profile_info_panel">
    <div class="col-6 text-info">
        <h3>Profile</h3><br>
        <h5>
            <%= image_tag(@user.image.url, alt: 'Image',class: 'user_img') %><br>
            Name: <small class="text-success"><%= @user.name %><br></small>
            Surname: <small class="text-success"><%= @user.surname %><br></small>
            Username: <small class="text-success"><%= @user.username %><br></small>
            Email: <small class="text-success"><%= @user.email %><br><br></small>
            <%= button_to "Edit profile", edit_user_registration_path, :method => 'get', class: "btn btn-secondary btn-sm"%>
        </h5>
    </div>

    <div class="col-6 search_books_container">
        <%= form_tag(books_results_path, :method => "get", id: "search-form", class: "form-group") do %>
        <%= text_field :search, params[:search], placeholder: "Search Books" %>
        <%= submit_tag "Search" ,class:"btn-sm btn-secondary my-2 my-sm-0" %>
        <% end %>
    </div>



</div>

<div class="col-4 left_panel">
    <%= render partial: "chats_index", locals: { chats: @chats } %>
</div>

<div class="col-8 right_panel">
    <%= render partial: "chat", locals: {user:@user, chats:@chats} %>
</div>




