<div class="profile-container">

    <div class="item8">
        <h3>Profile<br/></h3>
        <p>
            Name: <%= @user.name %><br>
            Surname: <%= @user.surname %><br>
            Username: <%= @user.username %><br>
            Email: <%= @user.email %><br><br>
            <%=link_to "Edit", edit_user_registration_path%>
        </p>
    </div>

    <%= form_tag(books_results_path, :method => "get", id: "search-form") do %>
	<%= text_field :search, params[:search], placeholder: "Search Books" %>
	<%= submit_tag "Search" %>
	<% end %>

    <div class="item9">
        <p>
            chat
        </p>
    </div>

</div>

<div class="item4">
    <p>
        <%= link_to "Home", root_path %>
    </p>
</div>
