<!-- IMPORTANTE per far funzionare i channels -->
<meta name='userid' content="<%=current_user.id%>">
<!-- ######################################## -->

<div class="col-md-12 profile_info_panel">

    <div class="col-md-3">
        <%= image_tag(@user.image.url, alt: 'Image',class: 'user_img') %>
    </div>
    
    
    <div class="col-md-3 text-info">
        <h5>
            Name: <small class="text-success"><%= @user.name %><br></small>
            Surname: <small class="text-success"><%= @user.surname %><br></small>
            Username: <small class="text-success"><%= @user.username %><br></small>
            Email: <small class="text-success"><%= @user.email %><br></small>
            <% if @user.id == current_user.id %>
                Cap: <small class="text-success"><%= @user.cap %><br></small>
                Radius: <small class="text-success"><%= @user.radius %><br></small>
            <% end %>
            <%= image_tag(@uri) %><br>
            <%if @user.id == current_user.id %>
                <%= button_to "Edit profile", edit_user_registration_path, :method => 'get', class: "btn-sm btn-warning"%>
            <% end %>
        </h5>
    </div>

<!-- come argomento passo anche l'id dell'utente così sono sicuro di caricare le liste del profilo corrente -->

    <div class="col-md-3 lists_links">
        <h5>
            <%if @user.id == current_user.id %>
                <%= link_to "Favourite list", favourite_list_path(:list_type => 0, :id => @user.id)%><br>
            <% end %> <!--non voglio mostrare i favoriti e la modifica del profilo delgi altri utenti -->
            <%= link_to "Wish list", wish_list_path(:list_type => 1, :id => @user.id)%><br>
            <%= link_to "Gift list", gift_list_path(:list_type => 2, :id => @user.id)%><br>
        </h5>
    </div>

    <div class="col-md-3 search_books_container">
        <%= form_tag(books_results_path, :method => "get", id: "search-form", class: "form-group") do %>
        <%= text_field :search, params[:search], placeholder: "Search Books" %>
        <%= submit_tag "Search" ,class:"btn-sm btn-secondary my-2 my-sm-0" %>
        <% end %>
    </div>

</div>

<%if @user.id == current_user.id %>
    <div class="col-md-4 left_panel">
        <%= render partial: "chats_index", locals: { chats: @chats } %>
    </div>

    <div class="col-md-8 right_panel">
        <%= render partial: "chat", locals: {user:@user, chats:@chats} %>
    </div>
<%end%>




