<div class="col-12 center">

    <div class="col-6 text-info">
        <h3>Profile<br/></h3>
        <p>
            Name: <%= @user.name %><br>
            Surname: <%= @user.surname %><br>
            Username: <%= @user.username %><br>
            Email: <%= @user.email %><br><br>
            <%=link_to "Edit", edit_user_registration_path%>
        </p>
    </div>

    <div class="col-6">
        chat
    </div>

</div>

<%= render "users/shared/links" %>
