<h3>Users</h3> 
<p>
<% @users.each do |user|%>
    <%= user.username %><br>
    <% if can? :manage_role, user %>
      id: <%= user.id%><br>
      role: <%= user.role%><br>
      <%= link_to "bann user", banned_user_path(user.id), :method => 'post'%>
      <%= link_to "admin user", admin_user_path(user.id), :method => 'post'%>
      <%= link_to "booklover user", booklover_user_path(user.id), :method => 'post'%>
    <% end %>
    <br><br>
<% end %>
</p>

<div class="col-12 center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse center" id="navbarColor03">
        <ul class="navbar-center navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
        <ul>
      </div>
    </nav>
</div>