<div class="home-container center">

	<div class="col-md-6">
		<%= form_tag(ads_list_path, :method => "get", id: "search-form", class: "form-group") do %>
		<%= text_field :search, params[:search], placeholder: "Search Ads" %>
		<%= submit_tag "Search" %>
		<% end %>
	</div>

	<div class="col-md-6">
		<%= form_tag(users_list_path, :method => "get", id: "search-form", class: "form-group") do %>
		<%= text_field :search, params[:search], placeholder: "Search User" %>
		<%= submit_tag "Search" %>
		<% end %>
	</div>

	<!--GIORGIO VEDERE GRAFICA-->
	<div class="col-12">
		<h3>
			<%= @title %><br>
		</h3>
		<% @matches_ads.each do |ad|%>
			<%= image_tag(ad.link_to_coverbook) %>
			<%= ad.book_title %>
			<%= ad.book_authors.tr('[', '').tr(']','').tr('"', '') %>
			<%= ad.publisher %>
			<%= ad.identifier.tr('[', '').tr(']','').tr('"', '').tr(',','') %>
			<% owner = User.find(ad.user_id).username %>
			<%= link_to "#{owner}", profile_path(:id => ad.user_id)%>
			<br>
		<% end %>
	</div>

</div>