<div class="home-container center" id="homepage">

	<div class="col-md-6">
		<%= form_tag(ads_list_path, :method => "get", id: "search-form", class: "form-group") do %>
		<%= text_field :search, params[:search], placeholder: "Search Ads" %>
		<%= submit_tag "Search" %>
		<% end %>
	</div>

	<div class="col-md-6" id="searchuser">
		<%= form_tag(users_list_path, :method => "get", id: "search-form2", class: "form-group") do %>
		<%= text_field :search, params[:search], placeholder: "Search User", id:"textform"%>
		<%= submit_tag "Search", id: "searchbutton"%>
		<% end %>
	</div>

	<h3>
		<%= @title %><br>
	</h3>

	<%= render partial: "./ads_list", locals: { ads: @matches_ads, view: "welcome" } %>
</div>