<div class="home-container">

	<%= form_tag(ads_list_path, :method => "get", id: "search-form") do %>
	<%= text_field :search, params[:search], placeholder: "Search Book" %>
	<%= submit_tag "Search" %>
	<% end %>

	<%= form_tag(users_list_path, :method => "get", id: "search-form") do %>
	<%= text_field :search, params[:search], placeholder: "Search User" %>
	<%= submit_tag "Search" %>
	<% end %>

</div>