<div class="home-container center">

	<div class="col-md-6">
		<%= form_tag(ads_list_path, :method => "get", id: "search-form", class: "form-group") do %>
		<%= text_field :search, params[:search], placeholder: "Search Ads" %>
		<%= submit_tag "Search" %>
		<% end %>
	</div>

	<div class="col-md-6">
		<%= form_tag(users_list_path, :method => "get", id: "search-form", class: "form-group") do %>
		<%= text_field :search, params[:search], placeholder: "Search User" %>
		<%= submit_tag "Search" %>
		<% end %>
	</div>

</div>