<div class="col-md-12 center">
  <h3>Edit profile <%= resource_name.to_s.humanize %></h3>
  <div class="form-group row center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <br>
      <div class="form-control" placeholder="Image">
      <%= f.label :image %><br>
        <%= f.file_field :image %>
      </div>
      <br>
      <div class="form-control" placeholder="Name">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Surname">
        <%= f.label :surname %><br />
        <%= f.text_field :surname, autocomplete: "surname" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Username">
        <%= f.label :username %><br />
        <%= f.text_field :username, autocomplete: "username" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Enter CAP">
        <%= f.label :cap %><br />
        <%= f.text_field :cap, autocomplete: "cap" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Enter search radius(km)">
        <%= f.label :radius %><br />
        <%= f.select :radius, %w[5 10 15 20 25 30 35 40 45 50 55 60 65 70 75]%>
      </div>
      <br/>
      <div class="form-control" placeholder="Email">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <br>
  <% end %>

      <div class="form-control" placeholder="Password">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <br>
      <div class="form-control" placeholder="Password confirmation">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <br>
      <div class="form-control" placeholder="Current password">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
      <br>
      <%= f.submit "Update", class:"btn btn-outline-primary" %>
    <% end %>
  </div>
  <br>
  <br>
  <p>Cancel my account</p> 
  <%= button_to "Cancel", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class:"btn btn-outline-primary"%>
  <br>
  <br>
  <%= link_to "Back to Profile", profile_path(current_user.id) %>
</div>
