<div class="sign-container">
  <h3>Sign up</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <br/>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname, autocomplete: "surname" %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autocomplete: "username" %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <br>
    <%= f.submit "Sign up", class:"button" %>
  <% end %>
  <br/>
</div>

<%= render "users/shared/links" %>
