<div class="col-md-12 center">
  <h3>Sign up</h3>
  <div class="form-group row center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <br/>
      <div class="form-control" placeholder="Enter image">
      <%= f.label :image %><br>
        <%= f.file_field :image %>
      </div>
      <br>
      <div class="form-control" placeholder="Enter name">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Enter surname">
        <%= f.label :surname %><br />
        <%= f.text_field :surname, autocomplete: "surname" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Enter username">
        <%= f.label :username %><br />
        <%= f.text_field :username, autocomplete: "username" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Enter CAP">
        <%= f.label :cap %><br />
        <%= f.text_field :cap, autocomplete: "cap" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Enter radius(km)">
        <%= f.label :radius %>
        <%= f.select :radius, %w[5 10 15 20 25 30 35 40 45 50 55 60 65 70 75]%>
      </div>
      <br/>
      <div class="form-control" placeholder="Enter email">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Enter password">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br/>
      <div class="form-control" placeholder="Confirm password">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <br>
      <%= f.submit "Sign up", class:"btn btn-outline-primary" %>
    <% end %>
  </div>
  <br/>
</div>

